.photos-container {
  margin-top: 75px;
}

.photos {
  padding: 0;
  list-style: none;

  columns: 3 320px;
  column-gap: 45px;
}

img {
  margin-bottom: 45px;
  border-radius: 16px;
  max-width: 100%;
}
